<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="newTitle">
  </div>
  <div class="mb-3">
    <label class="form-label">Post</label>
    <textarea class="form-control" name="newText" rows="6" placeholder="If you enter more than 100 characters, you will see a dynamic hyperlink"></textarea>
  </div>
  <div style="margin-top: 10px">
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </div>
</form>
<%- include('partials/footer'); -%>
